# Global repo owner
 
# CI scripts & beanstalk envs
*.config @kostas-bourmas
*.groovy @kostas-bourmas
.elasticbeanstalk @kostas-bourmas
*.conf @kostas-bourmas
*.sh @kostas-bourmas
*.yml @kostas-bourmas
Jenkinsfile @kostas-bourmas
Dockerfile @kostas-bourmas
Procfile @kostas-bourmas

# Ver. 0.0.21
